{% extends 'security/security_base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block form %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes identifié en temps que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Se déconnecter</a>
			</div>
		{% endif %}

		<div class="d-flex align-items-center mb-3 pb-1">
			<img src="{{ asset('img/logo.svg')}}" alt="logo" class="img-fluid" style="max-width:100px; max-height:200px">
			<span class="h1 fw-bold mb-0 titre">Atout Fer !</span>
		</div>

		<h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Connectez-vous</h1>

		<div class="form-outline mb-4">
			<label class="form-label" for="inputEmail">Adresse mail</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus>
		</div>

		<div class="form-outline mb-4">
			<label class="form-label" for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required>
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="btn btn-lg btn-dark" type="submit">
			Se connecter
		</button>

		{#<a class="small text-muted" href="#!">Mot de passe oublié?</a>
						<p class="mb-5 pb-lg-2" style="color:  #3EB08D;">Pas encore de compte ?
							<a href="{{ path('app_register')}}" style="color:  #383737;">S'enregistrer ici</a>
						</p>
						<a href="#!" class="small text-muted">Conditions d'utilisation</a>
						<a href="#!" class="small text-muted">Politique de confidentialité</a>#}
	</form>
{% endblock %}
